BasedOnStyle: Microsoft

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 90

BreakBeforeBraces: Stroustrup

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: CaseSensitive

Cpp11BracedListStyle: true

InsertBraces: true